<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Amigos</title>
</head>
<body style="background-color: #D6EAF8;">
    <nav>
        <a href="{% url 'home:homeapp' %}">Home</a>
        <a href="{% url 'home:estudiantesapp' %}">Estudiantes</a>
        <a href="{% url 'home:administradoresapp' %}">Administradores</a>
        <a href="{% url 'home:acercadeapp' %}">Acerca de</a>
    </nav>
    

    <center>
        <h1 style="font-family: 'Courier New', Courier, monospace; color: rgb(35, 68, 112);">Diana Esperanza de León Reyna</h1>
        <h1 style="font-family: 'Courier New', Courier, monospace; color: rgb(19, 19, 27); font-size: small;">0903-19-5824</h1>
    </center>
    
</body>
</html>