{% extends 'base.html'%}
{% load static %}
{% block contenido%}

<header class="masthead bg-light text-white text-center">
    <div class="container">
        <!-- Pagina de administradores-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Listado de Administradores</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Tabla de administradores-->
        <div class="row justify-content-center">
            <table class="table table-striped">
                <tr>
         
                    <td><b>Id</b></td>
                    <td><b>Nombre</b></td>
                    <td><b>Apellido</b></td>
                    <td><b>Telefono</b></td>
               
                </tr>
                <tr>
                    <td>1</td>
                    <td>Estefani</td>
                    <td>de León</td>
                    <td>34567812</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pedro</td>
                    <td>Maldonado</td>
                    <td>85324512</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Karina</td>
                    <td>Reyna</td>
                    <td>93175433</td>
                </tr>
            </table>
        </div>
    </div>
</header>
    {% endblock %}