{% extends 'base.html'%}
{% load static %}
{% block contenido%}

<header class="masthead bg-light text-white text-center">
    <div class="container">
        <!-- Pagina de administradores-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Estudiantes que autorizan</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Tabla de administradores-->
        <br>
        <form class="d-flex" role="search" metod="GET">
            <div class="col-xs-4">
                <input class="form-control " type="search" name="nombre" value="{{request.GET.nombre}}">
            </div>
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>

        <br>
        <div class="row justify-content-center">
            <table class="table table-striped">
                <tr>
                    <td><b>#</b></td>
                    <td><b>Carnet</b></td>
                    <td><b>Nombre</b></td>
                    <td><b>Apellido</b></td>
                    <td><b>Fecha de Creación</b></td>
                    <td><b>Editar</b></td>
                    <td><b></b></td>
               
                </tr>
                {% for i in object_list %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.carnet}}</td>
                    <td>{{i.nombre}}</td>
                    <td>{{i.apellido}}</td>
                    <td>{{i.creacion}}</td>
                    <td><a href="{% url 'home:editarestudiantea' i.id %}">Editar</a></td>
                    <td><a href="{% url 'home:detalleestudianteA' i.id %}">Ver</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <a href="{% url 'home:crearestudiantea' %}">
            <button class="btn-lg text-uppercase font-weight-bold bg-primary text-white rounded" type="button" > Agregar </button>
          </a>
    </div>
</header>
    {% endblock %}