{% extends 'base.html'%}
{% load static %}
{% block contenido%}
    
<header class="masthead bg-light text-white text-center">
    <div class="container">
        <!-- Pagina de Estudiantes-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Listado de artículos</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

    <!-- Tabal de Estudiantes-->
    <div class="row justify-content-center">
        <table class="table table-striped">
            <tr>
             
                <td><b>Titulo</b></td>
                <td><b>Descripcion</b></td>
                <td><b>Quien autoriza</b></td>
                <td><b>Fecha de Creación</b></td>
           
            </tr>
            <tr>
                <td>La contaminación</td>
                <td>Se denomina contaminación ambiental a la presencia de componentes nocivos</td>
                <td>Juan Barrios</td>
                <td>03/06/2022</td>
            </tr>
            
        </table>
    </div>

    <a href="{% url 'home:creararticulo' %}">
        <button class="btn-lg text-uppercase font-weight-bold bg-primary text-white rounded" type="button" > Agregar </button>
      </a>

    </div>
</header>

{% endblock %}