{% extends 'base.html'%}
{% load static %}
{% block contenido%}
    
<header class="masthead bg-light text-white text-center">
    <div class="container">
        <!-- Pagina de Estudiantes-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Listado de artículos</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <br>
        <form class="d-flex" role="search" metod="GET">
            <div class="col-xs-4">
                <input class="form-control " type="search" name="titulo" value="{{request.GET.titulo}}">
            </div>
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>

        <br>
    <!-- Tabal de Estudiantes-->
    <div class="row justify-content-center">
        <table class="table table-striped">
            <tr>
                <td><b>#</b></td>
                <td><b>Titulo</b></td>
                <td><b>Descripcion</b></td>
                <td><b>Quien autoriza</b></td>
                <td><b>Editar</b></td>
                <td><b></b></td>
           
            </tr>
            {% for i in object_list %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.titulo}}</td>
                    <td>{{i.descripcion}}</td>
                    <td>{{i.autoriza}}</td>
                    <td><a href="{% url 'home:editararticulo' i.id %}">Editar</a></td>
                    <td><a href="{% url 'home:detallearticulo' i.id %}">Ver</a></td>
                </tr>
            {% endfor %}
            
        </table>
    </div>

    <a href="{% url 'home:creararticulo' %}">
        <button class="btn-lg text-uppercase font-weight-bold bg-primary text-white rounded" type="button" > Agregar </button>
      </a>

    </div>
</header>

{% endblock %}