{% extends 'base.html'%}
{% load static %}
{% block contenido%}

<header class="masthead bg-light text-white text-center">
    <div class="container" >

        <div class="card" style="width: 30rem;">
            <div class="card-body">
                {{ object.nombre }}
                <h6 class="card-subtitle mb-2 text-muted">
                    Carnet: {{ object.carnet }}
                    <br>
                    Nombre: {{ object.nombre }}
                    <br>
                    Apellido: {{ object.apellido }}
                    <br>
                    Fecha Creación: {{ object.creacion }}
                </h6>
            </div>
        </div>
    </div>
</header>
{% endblock %}