{% extends 'base.html'%}
{% load static %}
{% block contenido%}
    
<header class="masthead bg-light text-white text-center">
    <div class="container">
        <!-- Pagina de Estudiantes-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Estudiantes que Publican</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Tabal de Estudiantes-->
        <div class="row justify-content-center">
            <table class="table table-striped">
                <tr>
                 
                    <td><b>Carnet</b></td>
                    <td><b>Nombre</b></td>
                    <td><b>Apellido</b></td>
                    <td><b>Fecha de Creación</b></td>
               
                </tr>
                <tr>
                    <td>1</td>
                    <td>Diana</td>
                    <td>de León</td>
                    <td>08/05/2022</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Juan</td>
                    <td>Maldonado</td>
                    <td>12/06/2022</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Luis</td>
                    <td>Reyna</td>
                    <td>09/09/2022</td>
                </tr>
            </table>
        </div>

        <a href="{% url 'home:crearestudiantep' %}">
            <button class="btn-lg text-uppercase font-weight-bold bg-primary text-white rounded" type="button" > Agregar </button>
          </a>
        
    </div>
</header>

{% endblock %}