{% extends 'base.html'%}
{% load static %}
{% block contenido %}
<header class="masthead bg-primary text-white text-center bg-opacity-75 ">
<div class="container d-flex align-items-center flex-column">
    <!-- Imagen de los niños-->
    <img class="masthead-avatar mb-5" src="{% static 'assets/img/colegio.png' %}" alt="..." />
    <!-- Encabezado-->
    <h1 class="masthead-heading text-uppercase mb-0">¡Bievenidos!</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Slogan-->
    <p class="masthead-subheading font-weight-light mb-0">Aprende - Divertete - Juega</p>
</div>
</header>
{% endblock %}
