<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #D6EAF8;">
    <center><h1 style="font-family: 'Courier New', Courier, monospace; color: blue;">Listado de Datos</h1></center>
    <table border="1" align="center" style="width: 30%;">
        <tr>
         
            <td><b>Id</b></td>
            <td><b>Nombre</b></td>
            <td><b>Apellido</b></td>
       
        </tr>
        <tr>
            <td>1</td>
            <td>Diana</td>
            <td>de León</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Juan</td>
            <td>Maldonado</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Luis</td>
            <td>Reyna</td>
        </tr>
    </table>
    <a href="{% url 'home:homeapp' %}"><button style="width: 10%;">Home</button></a>
</body>
</html>